/* Basic styling for the project */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#products, #cart {
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.product {
  border: 1px solid #0c0808;
 
  width: auto;
  height: auto;
  text-align: center;
  

}

#cart {
  border-top: 2px solid #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.smt {
  padding: 5px;
  background-color: rgb(127, 147, 165);
  border-color: black;
  border-radius: .4em;
  margin: 5px;
}

img {
  margin-top: 5px;
  height: 100px;
  width: auto;
  box-shadow: 8px 8px 4px rgb(59, 59, 59);
  border-radius: .4em;
}